@import "../../styles/main";

.shopping-group {
  padding: 3rem;
}

.shopping__listname {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1.6rem;
  }

  .shoppingName {
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 1.6rem;
    width: max-content;
    border: 1px solid rgba($gray, 0.2);
    outline: 0;
    font-weight: $bold;
  }

  .pen {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
  }
}
