@import "../../styles/main";

.shopping-group {
  padding: 3rem;
}

.shopping__listname {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 1.6rem;
  }

  .shoppingName {
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 1.6rem;
    width: max-content;
    border: 1px solid rgba($gray, 0.2);
    outline: 0;
    font-weight: $bold;
  }
  
}

.group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 20vh;
}

.group__upper {
  min-height: 50%;
}

.cart__illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  img {
    max-width: 100%;
  }
}
.emptyMessage {
  text-align: center;
  font-size: 2rem;
  color: $dark-blue;
}

.btn--savecart {
  width: 60%;
  margin: 0 auto;
  color: $white;
  background: $orange;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  display: block;
  font-family: inherit;
  font-weight: $bold;
  margin-top: 5rem;
  &:hover {
    background: rgba($orange, 0.8);
  }
}

.edit-name-container {
  position: relative;
  .pen {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
  }
}

.cart-name-tooltip {
  color: $white;
  background: $black;
  font-weight: $bold;
  font-size: 1.3rem;
  position: absolute;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0rem;
  top: 2.5rem;
  display: block;
  width: max-content;
  transition: all 0.2s ease-in;
}

