/* Colors */

$orange: #f9a109;
$red: #eb5757;
$black: #000;
$white: #fff;
$purple: #80485b;
$dark-blue: #3f3d56;
$pink: #fff0de;
$light-gray: #828282;
$gray: #1b1b1b;
$success: #44bf40;
$error: #ff4b3e;

/* Font-Weight */
$light: 300;
$normal: 400;
$bold: 500;
